<div class="site-menubar site-menubar-dark">
  <div class="site-menubar-body">
    <div>
      <div>
        <ul class="site-menu">
          <li class="site-menu-category">Banten</li>
          <li class="site-menu-item active">
            <a class="animsition-link" href="/">
              <i class="site-menu-icon md-view-dashboard" aria-hidden="true"></i>
              <span class="site-menu-title">Beranda</span>
            </a>
          </li>
          <li class="site-menu-item has-sub">
            <a href="{{ site.baseurl }}/prasyarat">
              <i class="site-menu-icon icon md-book" aria-hidden="true"></i>
              <span class="site-menu-title">Prasyarat</span>
            </a>
          </li>
          <li class="site-menu-item">
            <a href="javascript:void(0)">
              <i class="site-menu-icon icon md-info" aria-hidden="true"></i>
              <span class="site-menu-title">Bagaimana</span>
            </a>
          </li>
          <li class="site-menu-item has-sub">
            <a href="javascript:void(0)">
              <i class="site-menu-icon icon md-puzzle-piece" aria-hidden="true"></i>
              <span class="site-menu-title">API</span>
            </a>
          </li>
          <li class="site-menu-item has-sub">
            <a href="{{ site.baseurl }}/tentang-kami">
              <i class="site-menu-icon icon md-pin-help" aria-hidden="true"></i>
              <span class="site-menu-title">Tentang Kami</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-menubar-footer">
    <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="Profil">
      <span class="icon md-account" aria-hidden="true"></span>
    </a>
    <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Keluar">
      <span class="icon md-power" aria-hidden="true"></span>
    </a>
  </div>
</div>
