<!-- Core  -->
<script src="{{ site.baseurl }}/dist/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/bootstrap/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/animsition/animsition.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/asscroll/jquery-asScroll.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/mousewheel/jquery.mousewheel.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/asscrollable/jquery.asScrollable.all.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/waves/waves.min.js"></script>
<!-- Plugins -->
<script src="{{ site.baseurl }}/dist/vendor/switchery/switchery.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/intro-js/intro.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/screenfull/screenfull.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/slidepanel/jquery-slidePanel.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/jvectormap/jquery-jvectormap.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/peity/jquery.peity.min.js"></script>
<script src="{{ site.baseurl }}/dist/vendor/masonry/masonry.pkgd.min.js"></script>
<!-- Scripts -->
<script src="{{ site.baseurl }}/dist/js/core.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/site.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/sections/menu.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/sections/menubar.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/sections/gridmenu.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/sections/sidebar.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/configs/config-colors.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/configs/config-tour.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/asscrollable.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/animsition.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/slidepanel.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/switchery.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/tabs.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/matchheight.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/jvectormap.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/peity.min.js"></script>
<script src="{{ site.baseurl }}/dist/js/components/masonry.min.js"></script>
<script src="{{ site.baseurl }}/assets/theme/js/dashboard/v1.min.js"></script>

<script>
$(function() {
  var pathname = window.location.pathname;
  $('.site-menu a[href="'+pathname+'"]').parents('.site-menu-item').addClass('active');
});

(function (document, window, $) {
  'use strict';
  var Site = window.Site;
  $(document).ready(function () {
    Site.run();
  });
})(document, window, jQuery);
</script>
